h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 40px;

    font-family: "Inter", sans-serif;
    background: url('../assets/images/bg.png') no-repeat center center;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;

}

.hero {
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}

.hero-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-title {
    font-weight: 400;
    font-size: 40px;
    letter-spacing: 10px;
    text-align: center;
}

.hero-sub-title {
    margin: 10px 0;
    font-weight: 400;
    font-style: italic;
    font-size: 42px;

    text-align: center;

}

.hero-desc-block {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .hero-desc {
        margin: 10px 0;
        font-weight: 400;
        font-size: 18px;
        text-align: center;
        opacity: 0.6;
    }

    .hero-desc-icon {
        width: 40px;
        height: 30px;
        margin: 0 10px;
    }

    .hero-photo {
        max-width: 120px;
        margin: 0 10%;
        border-radius: 20%;
    }

}


.hero-icons-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-icons-link {
    margin: 10px 10px;
}

.hero-description {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    opacity: 0.6;
}

.hero-content {
    flex-basis: 70%;
    padding: 10px;
}

.photo-block {

    display: flex;
    justify-content: center;
}


/* SKILLS */
.skills {

    margin: 20px 0;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;

    position: relative; /* Обов'язково для позиціонування фонового тексту */
    overflow: hidden;    /* Щоб великі букви не вилазили за межі блоку */
}
.skills::before {
    content: "SKILLS";      /* Текст на фоні */
    position: absolute;
    top: 50%;               /* Центруємо по вертикалі */
    left: 50%;              /* Центруємо по горизонталі */
    transform: translate(-50%, -50%) rotate(-10deg); /* Точне центрування */
    
    
    font-size: 150px;       /* Робимо текст дуже великим */
    font-weight: 900;       /* Максимально жирний */
    color: rgba(0, 0, 0, 0.09); /* Дуже прозорий колір (ледве помітний) */
    
    pointer-events: none;   /* Щоб по тексту не можна було клікнути */
    z-index: 0;             /* Відправляємо на задній план */
    letter-spacing: 26px;   /* Розтягуємо літери для стилю */
}


.skills-blocks {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;

     position: relative;
    z-index: 1;
}


.skills-left_block,
.skills-right_block {
    max-width: 360px;
    padding: 20px;
   
}
.skills-block__title {
    font-style: italic;
}
.skills-list {
    padding: 0;
}

.skills-list__item {
    display: flex;
    align-items: center;
    margin: 6px 0;
    font-weight: 400;
    opacity: 0.6;

    .skill-rating-star {
        width: 18px;
        height: 18px;

    }

    .skill-rating-star:first-child {
        margin-left: 6px;

    }
}