@media (max-width: 1560px) {
    .backstage-section {
        background:none;
        color: black;
    }
}

@media (max-width: 1200px) {
    body {
        /*          margin:0 0 0 20%; */ /* padding:0 20px; */
    }

    .header-inner {
        justify-content: space-evenly;
    }

    .copyright-title {
        /*         display: none; */
    }

    .header-main {
        /*        background-size: cover; */
    }

    .info-block {
        max-width: 370px;
        right: 5%;
    }

    .backstage-image2 {
        right: -12%;
        width: 15%;
        height: 70%;
    }

    /* ----GALLERY-BLOCK------ */
    .gallery-block {
        justify-content: space-evenly;
    }

    .gallery-bg {
        left: -5%;
        bottom: 0%;
        width: 222px;
        height: 360px;
        z-index: -1;
    }

    .gallery-bg2 {
        right: -5%;
        bottom: 0%;
        width: 200px;
        height: 275px;
    }
}

@media screen and (max-device-width: 1156px) and (min-device-width: 1010px) {
    .gallery-block {
        /*     background-color:red; */ justify-content:center;
    }

    .cards-block {
        /*     background-color:red; */
    }

    .card {
        width: 31%;
    }
}

/*   ----- MAX-WIDTH-1144PX------ */
/* ---GALLERY--SLIDER-BUTTON---------- */
@media (max-width: 1144px) and (max-width: 1066px) {
    body {
        /*     padding:20px; */
    }

    .card {
        width: 295px;
        height: 354px;
    }

    /*     .gallery .container::before {
        left: -2%;
        top: 40%;
    }

    .gallery .container::after {
        right: -8%;
        top: 40%;
    } */
}

@media (max-width: 1078px) {
    .gallery .container::before {
        left: 0;
        top: 40%;
    }

    .gallery .container::after {
        right: 0;
        top: 40%;
    }
}

/*    -----1000 PX------ */
@media (max-width: 1001px) {
    .backstage-image2 {
        display:none;
    }

    .card {
        width: 295px;
        height: 354px;
    }

    .card:nth-child(-n+3) {
        /*         color: red; */
        margin: 0 9px;
    }

    .card .card-image {
        width: 295px;
        height: 295px;
    }

    /* ---ORANGE--BUTTONS----- */
    .gallery .container::before {
        left: 34%;
        top: 38%;
        transform: translateY(-50%);
        z-index: 1;
    }

    .gallery .container::after {
        right: 34%;
        top: 38%;
        transform: translateY(-50%);
        z-index: 1;
    }

    /*     ----TESTMONIALS-BLOCK--- */
    .review-card:nth-child(4) {
        display: none;
    }
}

/*     -------640-PX---------- */
@media screen and (max-device-width: 640px) {
    .container {
        max-width:640px;
        max-height: 500px;
    }

    .header-inner {
        /*       max-width:640px; */
        display: flex;
        justify-content: space-between;
    }

    .logo-block {
        margin-left: 20px;
    }

    .navigation-list {
        display: none;
    }

    .copyright-block {
        display: none;
    }

    .burger-menu {
        display: block;
        margin-right: 40px;
    }

    .burger-image {
        width: 150%;
    }

    .burger-image:hover {
        cursor: pointer;
        transform: scale(1.4);
    }

    .watch-block-slogan {
        font-size: 54.3px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.75;
    }

    .watch-block-orange-circle {
        width: 237px;
    }

    /*     ----BACKSTAGE------ */
    .backstage-image {
        display: none;
    }

    .backstage-section .container {
        /*         display: flex; */
        /*         justify-content: left; */
        /*         background-color:red; */
    }

    .info-block {
        margin: 40px 0 20px 20px;
        position: relative;
        max-width: 456px;
    }

    .backstage-image2 {
        display: block;
        position: absolute;
        right: 0;
        top: -8%;
        width: 150px;
        height: 476px;
    }

    .infoblock-description {
        margin-bottom: 30px;
    }

    .infoblock-subtitle {
        margin-bottom: 20px;
    }

    /* -----GALLERY--PETS------- */
    .gallery {
        color: black;
        margin-bottom: 520px;
    }

    /*     ----ARROWS--------- */
    .gallery-block .slick-prev {
        left: -80px;
        top: 40%;
        z-index: 5;
        /*     border-radius:50%; */
        font-size: 0;
    }

    .gallery-block .slick-next {
        right: -80px;
        top: 40%;
        z-index: 5;
        /*     border-radius:50%; */
        font-size: 0;
    }

    .card {
        /*         margin:0 0 60px 0;
        background-color:red; */
    }

    .card:nth-child(-n+4) {
        color: black;
    }

    .card:not(:nth-child(-n+4)) {
        /*    color:red; */
        display: none;
    }

    .gallery-bg {
        left: -0%;
        bottom: -103%;
        width: 134px;
        height: 202px;
    }

    .gallery-bg2 {
        right: -0%;
        bottom: -103%;
        width: 134px;
        height: 202px;
    }

    .choose-button {
        margin: 60px 0 100px 50%;
    }

    /*   ----Pick and feed a friend-----  */
    .pick-and-feed {
    }

    .pick-container {
        padding: 20px 0;
    }

    .pick-and-feed-wrapper {
        height: 835px;
        width: 100%;
        background-color: #fde7d7;
    }

    body {
        /*                         background-color: red; */
    }
}

/*    ----320-PX------ */
/* @media screen and (max-device-width: 320px) {
    body {
        background-color: green;
    }
}

.header-inner {
    /*     justify-content: space-between; */
}

.navigation-list {
    /*     display: none; */
}

*/