@media (max-width: 1200px) {
    body {
         margin:0 0 0 20%;
    }

.header-inner {
justify-content:space-evenly;
    
}
.copyright-title {
    display:none;
}

    .header-main {
        background: url('../../assets/images/Giant\ Panda.jpg') no-repeat;
        background-size: auto;
    }

.info-block {
    max-width: 370px;
   
}



}
