@media (max-width: 1200px) {
    body {
        /*          margin:0 0 0 20%; */ /* padding:0 20px; */
    }

    .header-inner {
        justify-content: space-evenly;
    }

    .copyright-title {
        /*         display: none; */
    }

    .header-main {
        /*        background-size: cover; */
    }

    .info-block {
        max-width: 370px;
        right: 5%;
    }

    .backstage-image2 {
        right: -12%;
        width: 15%;
        height: 70%;
    }

    /* ----GALLERY-BLOCK------ */
    .gallery-block {
        justify-content: space-evenly;
    }

    .gallery-bg {
        left: -5%;
        bottom: 0%;
        width: 222px;
        height: 360px;
        z-index: -1;
    }

    .gallery-bg2 {
        right: -5%;
        bottom: 0%;
        width: 200px;
        height: 275px;
    }
}

/*   ----- MAX-WIDTH-1144PX------ */
/* ---GALLERY--SLIDER-BUTTON---------- */
@media (max-width: 1144px) and (max-width: 1066px) {
    body {
        /*     padding:20px; */
    }

    .card {
        width: 295px;
        height: 354px;
    }

    .gallery .container::before {
        left: -2%;
        top: 40%;
    }

    .gallery .container::after {
        right: -8%;
        top: 40%;
    }
}

@media (max-width: 1078px) {
    .gallery .container::before {
        left: 0;
        top: 40%;
    }

    .gallery .container::after {
        right: 0;
        top: 40%;
    }
}

/*    -----1000 PX------ */
@media (max-width: 1001px) {
    .backstage-image2 {
        display:none;
    }

    .card {
        width: 295px;
        height: 354px;
    }

    .card:nth-child(-n+3) {
        color: red;
        margin-bottom: 92px;
    }

    .card .card-image {
        width: 295px;
        height: 295px;
    }

    /* ---ORANGE--BUTTONS----- */
    .gallery .container::before {
        left: 34%;
        top: 38%;
        transform: translateY(-50%);
        z-index: 1;
    }

    .gallery .container::after {
        right: 34%;
        top: 38%;
        transform: translateY(-50%);
        z-index: 1;
    }

    /*     ----TESTMONIALS-BLOCK--- */
    .review-card:nth-child(4) {
        display: none;
    }
}

/*     -------640-PX---------- */
@media screen and (max-device-width: 640px) {
   .logo-block {
       margin-left:20px;
   }
    .navigation-list {
        display:none;
    }
.copyright-block {
    display:none;
} 
    .header-inner {
        width: 200px;
        justify-content: space-between;
    }

    body {
        background-color: red;
    }

    .gallery-block {
        display: none;
    }
}

/*    ----320-PX------ */

@media screen and (max-device-width: 320px) {
    .navigation-list {
        display:none;
    }

    .header-inner {
        justify-content: space-between;
    }

    body {
        background-color: green;
    }
}
