body {
    color: white;
    /*     background-color: #837474; */
    font-family: "Roboto",sans-serif;
}

.container {
    width: 1160px;
    /* background-color: red; */
    margin: 0 auto;
}

/*     ---------HEADER------------- */
header {
    background-color: #000000;
}

.header-inner {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-navigation-block {
    display: flex;
    align-items: center;
}

/* ---------LOGO------------------- */
.logo-block {
    height: 52px;
    margin-right: 63px;
    position: relative;
    cursor: pointer;
}

.logo-title {
    font-size: 19px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
}

.logo-title2 {
    text-align: center;
}

.logo-icon {
    width: 10px;
    height: 20.98px;
    position: absolute;
    bottom: 20%;
    left: 10%;
}

.navigation {
}

.navigation-list {
    display: flex;
    list-style: none;
}

.navigation-item {
    margin-right: 68px;
    cursor: pointer;
}

.navigation-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
}

.navigation-item:hover {
    color: orange;
}

.copyright-block {
}

.copyright-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;
    cursor: pointer;
}

/* --------HEADER-MAIN--------------- */
.header-main {
    background: url('../../assets/images/Giant\ Panda.jpg') no-repeat;
    background-size: cover;
}

.container {
}

.header-main-inner {
    height: 700px;
    display: flex;
    justify-content: right;
    position: relative;
}

.watch-block {
    width: 500px;
    height: 400px;
    margin-top: 86px;
    /*     background-color:green; */
    z-index: 1;
}

.watch-block-slogan {
    font-weight: 700;
    font-size: 106px;
    line-height: 75%;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: normal;
}

.yellow {
    color: yellow;
}

.watch-block-orange-circle {
    position: absolute;
    right: 9.9%;
    top: 1%;
}

.watch-button {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    color: white;
    padding: 16px 89px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    margin: 76px 0 0 90px;
    border: none;
}

/* -------BACKSTAGE-SECTION-------- */
.backstage-section {
    /*     background-color:red; */
    color: black;
}

.backstage-section .container {
    position: relative;
    height: 800px;
}

.backstage-image {
    position: absolute;
    left: 0;
    top: 140px;
}

.backstage-image2 {
    position: absolute;
    right: -25%;
}

.info-block {
    width: 465px;
    position: absolute;
    right: 0;
    margin: 140px 0 180px 0;
}

.infoblock-title {
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    margin-bottom: 20px;
}

.infoblock-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 54px;
}

.infoblock-subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 34px;
}

.infoblock-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}

/* -------PETS-GALLERY----------- */
.gallery {
    color: black;
}

.gallery .container {
    /*     background-color:red; */
}

.gallery-block {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

.card {
    width: 366px;
    height: 426px;
    position: relative;
    border:1px solid #E5E5E5;
    margin:0 0 20px 0;
  
}
.card img {
      border-radius:10px;
}
.card-title {
    font-weight: 600;
    font-size: 16px;
    font-style: normal;
    line-height: 140%;
   margin-top:8px;
    text-transform: uppercase;
}

.card-description {
    font-weight: 300;
font-size: 15px;
line-height: 120%;
  margin-bottom:14px;
}

.card-icon {
    position: absolute;
    bottom: 13px;
    right: 12px;
}
