body {
    color: white;
    /* background-color: #837474; */
    font-family: "Roboto",sans-serif;
    /*     margin:0 auto; */
    overflow-x: hidden;
    margin: 0 auto;
}

.container {
    max-width: 1160px;
    /*     background-color: red; */
    margin: auto;
}

/*     ---------HEADER------------- */
header {
    background-color: #000000;
}

.header-inner {
    /*     height: 80px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-navigation-block {
    display: flex;
    align-items: center;
}

/* ---------LOGO------------------- */
.logo-block {
    width: 82px;
    height: 52px;
    margin: 14px 63px 14px 0px;
    position: relative;
    cursor: pointer;
    border: 2px solid white;
}

.logo-title {
    font-size: 19px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
}

.logo-title2 {
    text-align: center;
}

.logo-icon {
    width: 10px;
    height: 20.98px;
    position: absolute;
    bottom: 20%;
    left: 10%;
}

.navigation {
}

.navigation-list {
    display: flex;
    list-style: none;
}

.navigation-item {
    margin-right: 68px;
    cursor: pointer;
}

.navigation-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
}

.navigation-item:hover {
    color: orange;
}

.copyright-block {
}

.copyright-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;
    cursor: pointer;
}

/*    ---BURGER-MENU------ */
.burger-menu {
    display: none;
}

.burger-image {
}

/* --------HEADER-MAIN--------------- */
.header-main {
    background: url('../assets/images/Giant\ Panda.jpg') no-repeat;
    background-size: cover;
}

.container {
}

.header-main-inner {
    height: 700px;
    display: flex;
    justify-content: right;
    position: relative;
}

.watch-block {
    max-width: 500px;
    max-height: 400px;
    margin-top: 86px;
    /*     background-color:green; */
    z-index: 1;
}

.watch-block-slogan {
    font-weight: 700;
    font-size: 106px;
    line-height: 75%;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: normal;
}

.yellow {
    color: yellow;
}

.watch-block-orange-circle {
    position: absolute;
    right: 9.9%;
    top: 1%;
}

.watch-button {
    background-color: orange;
    border-radius: 25px;
    color: white;
    padding: 16px 89px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    margin: 76px 0 0 90px;
    border: none;
}

.watch-button:hover {
    background-color: #E47209;
}

/* -------BACKSTAGE-SECTION-------- */
.backstage-section {
    background: url("../assets/images/flower_foto1.png") top right no-repeat;
    color: black;
    overflow: hidden;
}

.backstage-section .container {
    position: relative;
    height: 800px;
    /*     background: url('../../assets/images/flower_foto1.png') 120% 0% no-repeat; */
}

.backstage-image {
    position: absolute;
    left: 0;
    top: 140px;
    width: 50%;
    height: 50%;
}

.backstage-image2 {
    position: absolute;
    right: -20%;
    width: 20%;
    height: 80%;
    z-index: -2;
}

.info-block {
    max-width: 465px;
    position: absolute;
    right: 0;
    margin: 140px 0 180px 0;
}

.infoblock-title {
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    margin-bottom: 20px;
}

.infoblock-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 54px;
}

.infoblock-subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 34px;
}

.infoblock-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}

/* -------PETS-GALLERY----------- */
.gallery {
    color: black;
    overflow: hidden;
    background: url('../../assets/images/palm_foto.png')bottom left no-repeat, url('../../assets/images/strelitzia 1.png')bottom right no-repeat;
    background-size: 20% 20%;
 
}

.gallery .container {
        
    position: relative;
}

/* ----GALLERY-BLOCK---------- */
.gallery-block {
}

/* ----SLICK-SLIDER----------- */
.slider {
}

.gallery-block .slick-arrow {
    margin: 0 40px;
    width: 62px;
    height: 62px;
    border: none;
}

/*     ----ARROWS--------- */
.gallery-block .slick-prev {
    background: url('../assets/icons/arrow_elips_2.png')no-repeat;
    display: block;
    position: absolute;
    left: -120px;
    top: 40%;
    z-index: 5;
    /*     border-radius:50%; */
    font-size: 0;
}

.gallery-block .slick-next {
    background: url('../assets/icons/arrow_elips_1.png')no-repeat;
    display: block;
    position: absolute;
    right: -120px;
    top: 40%;
    z-index: 5;
    /*     border-radius:50%; */
    font-size: 0;
}

.cards-block {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.card-wrapper {
    overflow: hidden;
}

.card {
    width: 366px;
    height: 426px;
    position: relative;
    border: 1px solid #E5E5E5;
    margin: 0px 9px;
}

.card img {
    border-radius: 10px;
}

.card img:hover {
    transform: scale(1.1);
    transition: all .6s ease;
}

.card-title {
    font-weight: 600;
    font-size: 16px;
    font-style: normal;
    line-height: 140%;
    margin-top: 8px;
    text-transform: uppercase;
}

.card-description {
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    margin-bottom: 14px;
}

.card-icon {
    position: absolute;
    bottom: 13px;
    right: 12px;
}

/* ---CHOOSE-BUTTON--- */
.choose-button {
    background-color: orange;
    border-radius: 25px;
    color: white;
    padding: 16px 48px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    /*     text-align: center; */
    text-transform: uppercase;
    margin: 80px 0 100px 50%;
    transform: translateX(-50%);
    border: none;
}

.choose-button:hover {
    background-color: #E47209;
}

/* .gallery-bg {
    position: absolute;
    left: -20%;
    bottom: 0%;
    width: 292px;
    height: 460px;
}

.gallery-bg2 {
    position: absolute;
    right: -20%;
    bottom: 0%;
    width: 368px;
    height: 275px;
} */
/* ----PICK-AND-FEED-SECTION----- */
.pick-and-feed {
    background-image: linear-gradient(330deg, rgba(254, 210, 144, 0.7) 71%, #febdab -1%, rgba(254, 210, 144, 0.7) -7%), linear-gradient(330deg, rgba(254, 189, 171, 0.74) 71%, rgba(243, 169, 248, 0.66) 50%, #e0d8f0 20%, #eaf7fe -28%, #eaf7fe -50%), linear-gradient(330deg, rgba(254, 189, 171, 0.74) 71%, rgba(243, 169, 248, 0.66) 50%, #e0d8f0 20%, #eaf7fe -28%, #eaf7fe -50%);
    color: black;
    height: 1004px;
}

.pick-container {
    /* padding:203px; */
    /*     background-color:red; */
    padding: 69px;
}

.pick-and-feed-wrapper {
    height: 835px;
    border-radius: 20px;
    backdrop-filter: blur(4px);
    background-color: rgba(253, 253, 255, 0.52);
    padding: 0 32px;
}

.pick-title {
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    padding-top: 41px;
    color: #FE9013;
    text-align: center;
}

.pick-sub-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    padding-top: 30px;
    color: #333B41;
    text-align: center;
}

.pick-sub-info {
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    padding-top: 40px;
    color: #333B41;
    text-align: center;
}

.pick-description {
    padding-top: 10px;
    text-align: center;
}

.pick-emergency-link {
    color: #333B41;
}

.pick-last-br {
}

.pick-title2 {
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #333B41;
    padding: 60px 0 40px 0;
    text-align: center;
}

/* ---PICK-LIST------ */
.pick-list {
    display: flex;
    text-align: center;
    list-style: none;
    justify-content: space-evenly;
}

.pick-list li:nth-child(2)::before {
    content: url('../assets/icons/arrow-right.png');
    position: absolute;
    top: 20%;
    left: -5rem;
}

.pick-list li:nth-child(2)::after {
    content: url('../assets/icons/arrow-right.png');
    position: absolute;
    top: 20%;
    right: -5rem;
}

.pick-item {
    width: 168px;
    height: 244px;
    position: relative;
    /*     margin-right:130px; */
}

.pick-image {
    background-color: white;
    width: 130px;
    height: 130px;
    border: 1px solid #f9804b;
    padding: 25px;
    ; border-radius: 10px;
}

.pick-info {
    margin-top: 30px;
}

/* -------TESTIMONIALS--ARTICLE----- */
.testimonials {
    color: black;
    background: url('../../assets/images/leav_foto.jpg') bottom right no-repeat;
}

.testmonials-container {
    position: relative;
}

.testimonials-title {
    text-align: center;
    margin: 140px 0 47px 0;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    /* identical to box height, or 47px */
    text-align: center;
    color: #333B41;
}

.review-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.review-card {
    background-color: #F1F3F2;
    width: 268px;
    height: 391px;
    border: 2px solid red;
    border-radius: 20px;
    margin-right: 30px;
}

.card-title-block {
    display: flex;
    align-items: center;
    margin: 15px 10px 0 16px;
}

.card-date-block {
    display: flex;
    flex-direction: column;
}

.card-foto-image {
    width: 37px;
    height: 37px;
    margin-right: 10px;
}

.user-name {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */
    color: #000000;
}

.message-date {
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #BDBDBD;
}

.message-data-image {
}

.card-review-text {
    padding: 10px 15px 10px 17px;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #767474;
}

/* ---PROGRESS-BAR---------- */
.progress-bar-wrapper {
    width: 599px;
    height: 8px;
    margin: 20px 0 52px 50%;
    transform: translateX(-50%);
    background: #f3f3f3;
}

.progress-bar {
    width: 30px;
    height: 100%;
    background-color: orange;
}

.leave-button {
    width: 298px;
    height: 54px;
    background-color: orange;
    padding: 18px 78px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    border: none;
    margin: 0 0 140px 0;
}

.leave-button:hover {
    background-color: #E47209;
}

.testimonials-bg {
    position: absolute;
    right: 0%;
    bottom: -10%;
    z-index: -1;
}

/* -----FOOTER----------- */
footer {
    background-color: #000000;
}

.container {
}

.footer-top {
    display: flex;
    justify-content: space-between;
    padding: 40px 0 0 0;
}

.footer-logo-block {
    width: 82px;
    height: 52px;
    margin-right: 63px;
    position: relative;
    cursor: pointer;
}

.footer-logo-title {
    font-size: 19px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
}

.footer-logo-title2 {
    text-align: center;
}

.footer-logo-icon {
    position: absolute;
    bottom: 11px;
    left: 10px
}

.subscribe-block {
}

.subscribe-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
}

.subscribe-input-block {
    margin: 14px 0 0 0;
}

.subscribe-input {
    width: 228px;
    height: 42px;
    background-color: #000000;
    border: 1px solid orange;
    border-radius: 5px;
    padding-left: 10px;
    color: white;
}

.subscribe-button {
    width: 129px;
    height: 42px;
    margin-left: 9px;
    border-radius: 5px;
    border: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}

/* ----FOOTER-MIDDLE----- */
.footer-middle {
}

.donate-button {
    background-color: orange;
    padding: 18px 41px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    border: none;
    /*     margin:0 0 140px 0; */
}

.donate-button:hover {
    background-color: #E47209;
}

/* --FOOTER-BOTTOM----- */
.footer-bottom {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    padding-bottom: 50px;
}

/* ---SOCIAL-BLOCK----- */
.social-block {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}

.social-list {
    list-style: none;
}

.social-item {
    display: flex;
    align-items: center;
}

.social-item img {
    margin-right: 12px;
}

/* ---NAViGATION-BLOCK--------- */
.footer-navigation-block {
    display: flex;
    align-items: flex-end;
}

.footer-navigation {
}

.footer-navigation-list {
    list-style: none;
    display: flex;
}

.footer-navigation-item {
    margin-right: 48px;
    cursor: pointer;
}

/* --DESIGNED-BLOCK----- */
.designed-block {
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-size: 16px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    opacity: .2;
}

.designed-title {
}

.designed-copyright {
}

/* ---COLORS------ */
.orange {
    color: orange;
}
